:root {
    --color: rgb(25, 221, 221);
    --2color: bisque;
    --3color: rgb(79, 14, 139);
    --defpadding: 12px;
    --opacity: 0.4;
}

* {
    margin: 0;
    padding: 0;
}

.fst {
    background-color: var(--color);
}

.container {
    background-color: rgb(184, 125, 182);
}

ul {
    display: flex;
}

ul li:first-child {
    --color: blue;
    background-color: var(--color, red);
    color: var(--2color);
}

ul li {
    opacity: var(--opacity);
    border: 30px solid var(--3color);
    list-style: none;
    padding: 34px;
}