p{
    color: blue;
}


.hey {
    color: aqua;
}


.hello {
    color: aquamarine ;

}


.how {
    color: bisque;
}



.are {
    color: brown ;
}

.u {
    color: rgb(226, 67, 43);
}
article{
    color: cadetblue !important;
}