.con{
    border: 2px solid greenyellow;
    display: grid;
    /* grid-template-columns: [ft]120px [sec]100px;
    grid-template-rows: 100px 100px 100px; */
    width: 80vm;
    grid-template-columns: 1fr 2fr 1fr;
}

.itm{
    border: 2px solid black;
    height: 55px;
    width: 55px; 
}

/* .itm-4{
    grid-row: 1/2;
    grid-column: 1/2;
}

.itm-1{
    grid-row: 1/2;
    grid-column: 1/2;
}


 */
