.con{
    border: 2px solid green;
    display: grid;
    grid-template-areas: "nav nav nav"
                        "side article article"
                        "footer footer footer";
}

.itm{
    border: 2px solid black;
    height: 55px;
}

.itm-1{
    grid-area: nav;
    background-color: olive;
}

.itm-2{
    grid-area: side;
    background-color: greenyellow;
}

.itm-3{
    grid-area: article;
    background-color: lawngreen;
}

.itm-4{
    grid-area: footer;
    background-color: lime;
}

.itm-5{
    grid-area: nav;
    background-color: limegreen;
}