/* body{
    background-color: #ecbaf9;
} */

.cont{
    border: 2px solid red;
    display: flex;
    height: 80vh;
    flex-grow: 1;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center ; */
    /* gap: 30px; */
    /* flex-flow: row wrap ; */
    /* border: 2px solid red;
    display: flex;
    height: 80vh;
    justify-content: flex-end;
    align-items: flex-start; */
}

/* .or1{ */
    /* order: 2; */
    /* flex-grow: 2; */
/* } */

.itm{
    height: 72px;
    width: 72px;
    background-color: violet;
    border: 2px solid black;
    margin: 4px;
    flex-grow: 1;
}

.grow{
    flex-grow: 6;
}